################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Commerce-API-DotNet-master
/MSCorp.CrestMockWebApi/bin
/MSCorp.CrestMockWebApi/obj
/packages
*.user
