<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<!-- The scenario to be run (0 to 4)-->
		<add key="scenario" value="4" /> 
				
		<!-- Go to http://partnercenterservice.microsoft.com/pc/pc/APIIntegration to onboard your application-->
		<add key="AppId" value="Not-needed-for-mock-api" />
		<add key="Key" value="Not-needed-for-mock-api" />

		<!-- Go to http://partnercenterservice.microsoft.com/pc/AccountSettings/TenantProfile to get this information-->
		<add key="MicrosoftId" value="e9894580-3eea-4256-a1f6-bf943fe74a25" /> <!-- For MOCK API, any valid GUID -->
		<add key="DefaultDomain" value="cspsample.onmicrosoft.com" />          <!-- For MOCK API, any valid domain name -->
		<!-- If you an existing Customer, this is the Microsoft Id of that existing customer
				 Replace the string below with the id of the customer
				 You can get this by 
						 1. going to Partner center at https://partnercenter.microsoft.com/
						 2. Sign in with your credentials
						 3. Click View Customers
						 4. Expand the customer you are interested in by clicking on the chevron (down arrow)
						 5. You will find the Microsoft ID, copy that value to this variable
				-->
		<add key="ExistingCustomerMicrosoftId" value="84a4227f-8aa6-44fe-8a25-85df9ef6d03e" />   <!-- For MOCK API, any valid GUID -->
		<add key="ExistingSubscriptionId" value="517e973b-f3d8-4d4c-b5dc-723d10d88a5e"/>         <!-- For MOCK API, use this value -->
		<add key="ExistingOrderId" value="d42da455-4dcc-4af3-851d-e1390013948f"/>						     <!-- For MOCK API, use this value -->
	</appSettings>
	
</configuration>